@font-face { font-family: 'NeoDunggeunmo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff'); font-weight: normal; font-style: normal; }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    outline: none;
}
body {
    background-color: #000;
    color: #fff;
    font-family: 'NeoDunggeunmo', sans-serif;
}
input[type=text], input[type=text]::placeholder {
    font-family: 'NeoDunggeunmo', sans-serif;
}

.container {
    margin: 40px 20px 0 20px;
}
.box-shadow {
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 16px 1px rgba(0,0,0,0.35);
}
.form-component {
    height: 40px;
    width: 300px;
    display: block;
    padding: 10px 20px;
    border: 0px solid rgb(85, 78, 78);
    font-size: 17px;
    color: #fff;
    transition: .5s ease-in-out;
}
.form-component.input:hover, .form-component.input:focus {
    background-color: #303030;
    transition: .5s ease-in-out;
}
.form-component.button {
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    background-color: rgb(207, 207, 207);
    color: #000;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.form-component.button:hover, .form-component.button:focus {
    background-color: #fff;
    transition: .5s ease-in-out;
}
form .wrapper {
    margin-bottom: 20px;
}
.form-8bit {
    position: relative;
    display: inline-block;
}
.form-8bit:before, 
.form-8bit:after, 
.form-8bit .form-8bit-wrapper:before, 
.form-8bit .form-8bit-wrapper:after {
    content: '';
    background-color: #8d8d8d;
    display: inline-block;
    position: absolute;
    transition: .5s ease-in-out;
}
.form-8bit:before, .form-8bit:after {
    width: 5px;
    height: 100%;
}
.form-8bit .form-8bit-wrapper:before, .form-8bit .form-8bit-wrapper:after {
    width: 100%;
    height: 5px;
}
.form-8bit .form-8bit-wrapper:before {
    left: 0;
    top: -5px;
}
.form-8bit .form-8bit-wrapper:after {
    left: 0;
    bottom: -5px;
}
.form-8bit:before {
    top: 0px;
    left: -5px;
}
.form-8bit:after {
    top: 0px;
    right: -5px;
}
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
.light-dark {
    background-color: #3a3a3a;
}
div.input-example {
    display: inline-block;
    padding: 5px;
    border: 0px solid;
    border-radius: 3px;
    margin-bottom: 5px;
}
hr {
    height: 5px;
    background-color: #8d8d8d;
    border: 0px solid;
}
.github-wrapper {
    position: fixed;
    z-index: 5;
    background-color: rgb(56, 56, 56);
    right: 25px;
    bottom: 25px;
}
.github {    
    padding: 5px;
}
.github a {
    color: #fff;
}